html,body {
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  &:visited {
    color: #666; }
  &:hover {
    color: #fff;
    background-color: #000; } }

div {
  &.field, &.actions {
    margin-bottom: 10px; } 
}

.invisible{
	visibility: hidden;
}
label {
	color: #0033;
	line-height:23px;
    float: left;
    text-align: right;
    width: 260px;
    margin-right: 5px;
}
.page {
	background-color: #FFF;
    color: #666666;
    margin: 0 auto;
    min-height: 100%;
    padding: 20px;
    width: 1000px;
    border-radius: 10px 10px 10px 10px;
}
.page-box{
	border: 1px solid #CCCCCC;
    padding: 10px;
    text-align: center;
}
.page-banner{
     text-align: left;
     position:relative;
}
.page-footer {
    padding: 10px;
    text-align: center;
}
.detail-top {
	background-color: #404040;
    border-radius: 10px 10px 10px 10px;
    color: #CCCCCC;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    min-height: 100%;
    padding: 10px;
}
.detail-form {
	background-color: #F2F2F2;
    color: #666666;
    min-height: 100%;
    width: 700px;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 20px;
}
.detail-form .row{
    padding-bottom: 10px;
    padding-top: 5px;
    position:relative;
   }

.detail-box {
    background-color: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    text-align: right;
    width: 700px;
}   
.button-view-quote{
	margin: 10px;
}
.button-speak-agent {
    text-align: left;
    width: 200px;
}

.search-box{
	top: 0px;
	position: absolute;
	right: 0px;
}
.right-box{
    float: right;
    font-size: 14px;
    width: 200px;
}
.right-box .row{
    font-weight: bold;
    height: 30px;
    line-height: 29px;
    margin-top: 5px;
}
.right-box .row img{
    float: left;
    margin-right: 5px;
}
.right-box .row a{
	font-weight: normal;
  	color: #00F;
}
.radius-box-grey {
    background-color: #F2F2F2;
    border-radius: 10px 10px 10px 10px;
    margin-top: 5px;
    padding: 3px 3px 3px 15px;
}
.radius-box-grey a{
	font-weight: normal;
  	color: #00F;
}
.radius-box-grey img{
    float: left;
    margin-right: 5px;
}
.delete-driver{
	position:absolute;
	left: 10px;
	color: blue;
}
